@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;400;900&display=swap');

body  {
  font-family: 'Jost', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  background: radial-gradient(circle closest-corner at center 125px,#222,black 40%) no-repeat;
  background-attachment: fixed;
}


.form-group {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  label {
    width: 10%;
    display: inline-block;
    margin-bottom: .5rem;
  }
}

.form-control {
  margin-left: 1.5rem;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container {
  margin: auto;
  max-width: 1200px;
  background: #ede7e7;
  color: #000;
  padding: 1.75rem;
}


.submit {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.react-select {
  min-width: 200px;
}

.label {
  display: inline-block;
  margin: 0.25rem;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  background-color: #337ab7;
}